body {
  width: 100vw;

  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#cabecera {
  background-color: grey;
  height: 4em;
  width: 100vw;
}

#cuerpo {
  background-color: blueviolet;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pie {
  background-color: brown;
  height: 3em;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

#centro {
  background-color: blueviolet;
  height: 52.55em;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subcentro {
    height: 100%;
    width: 50%;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner,
.carousel-inner > .carousel-item,
.carousel-inner > .carousel-item > img {
  height: 40em;
  width: 100vw;
  /* background-color: aqua; */
}

#carouselExampleSlidesOnly {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaComentario {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.cajaComentario > label {
    margin-bottom: 0.5em;
}

#logo {
    border-radius: 100em;
}

label {
    font-weight: bold;
    font-size: large;
}

.btn {
    background-color: grey;
}

.btn:hover {
    background-color: greenyellow;
}

#navbar-bar .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2em; /* Tamaño del texto /
    font-weight: bold; / Negrita */
}

.subRedes {
    margin-left: 1em;
}

.redes {
    margin-right: 1em;
}

#centroLogo {
    background-color: beige;
    height: 10em;
    width: 100vw;
}