body, html {
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#total {
    flex: 1;
    display: grid;
    place-content: center;
    padding: 0;
    margin: 0;
  }

.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#cabecera {
  background-color: grey;
  height: 8vh;
  width: 100vw;
}

#cuerpo {
  background: linear-gradient(#212529, #800080);
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pie {
  background-color: #800080;
  height: 8vh;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#centro {
  background: linear-gradient(#212529, #800080);
  height: 84vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subcentro {
  height: 50%;
  width: 50%;
  color: white;

  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner,
.carousel-inner > .carousel-item,
.carousel-inner > .carousel-item > img {
  height: 40em;
  width: 100vw;
}

#carouselExampleSlidesOnly {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cajaComentario {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.cajaComentario > label {
  margin-bottom: 0.5em;
}

#logo {
  border-radius: 100em;
  margin-left: 0.5em;
}

label {
  font-weight: bold;
  font-size: large;
}

.btn {
  background-color: grey;
}

.btn:hover {
  background-color: black;
}

#navbar-bar .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2em;
}

.subRedes {
  margin-left: 1em;
}

.redes {
  margin-right: 1em;
}

#centroLogo {
  background-color: beige;
  height: 10em;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  #cuerpo {
    min-height: auto;
  }

  .subcentro {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .carousel-inner,
  .carousel-inner > .carousel-item,
  .carousel-inner > .carousel-item > img {
    height: auto;
  }
}

.navbar-custom {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#carousel {
  margin-top: 4em;
}

@media screen and (max-width: 768px) {
  #centro {
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .subcentro {
    max-width: 100%;
    margin-top: 15em;
  }
}

.centroLogo {
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  select#subcentro {
    max-height: calc(100vh - 200px);
    overflow-y: hidden;
  }
}

.card {
  margin: 0.6em;
}

.card-custom {
  height: 20em;
  width: 20em;
}

.card-custom .card-img-top {
  height: 10em;
}

@media screen and (max-width: 768px) {
  .subcentro {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1em;
    justify-content: center;
  }

  .card {
    width: 100%;
  }
}

.titulos {
  font-weight: bold;
  margin-left: 2em;
  text-align: center;
  margin-left: 0;
  margin-bottom: 1em;
  margin-right: 2em;
}

@media screen and (max-width: 768px) {
  .subcentro {
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
  }

  .card-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: auto; 
  }

  .card {
    width: 80%; 
    margin: 1em 0; 
  }

  .card .card-img-top {
    max-width: 100%; 
    height: auto; 
  }

  .card-body {
    text-align: center; 
  }
}

@media screen and (max-width: 768px) {
  .subcentro.card-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
  }

  .subcentro.card-container .card {
    width: 80%; 
    margin: 1em 0; 
  }

  .subcentro.card-container .card .card-img-top {
    max-width: 100%; 
    height: auto; 
  }

  .subcentro.card-container .card-body {
    text-align: center; 
  }
}

@media screen and (max-width: 768px) {
  .subcentro.card-container {
    flex-direction: column;
    align-items: center;
    height: auto; 
  }

  .subcentro.card-container .card {
    width: 90%; 
    margin: 1em 0; 
  }

  .subcentro.card-container .card .card-img-top {
    max-width: 100%; 
    height: auto; 
  }

  .subcentro.card-container .card-body {
    text-align: center;
  }
}
